<header class="header">
    <h1 class="page_title">
        <a href="/" class="page_title_link">Service pages</a>
    </h1>
    <div class="navigation">
        <a href="/redirect?value=http://jenkins.17btest.com:8080" class="navigation_link">Jenkins</a>
        <a href="/redirect?value=http://jenkins.17btest.com:5000" class="navigation_link">Script server</a>
        <a href="/redirect?value=http://jenkins.17btest.com:8888" class="navigation_link">Image converter</a>
        <a href="/server_stat" class="navigation_link">Server statistics</a>
        <a href="/test_register" class="navigation_link">Register</a>
        <a href="/users" class="navigation_link">Users</a>
    </div>
</header>